---
title: Home
---

<%
    (only_blogs(@items) + past_talks(@items)).sort_by do |item|
        item.attributes[(is_talk?(item) ? :date : :created_at)]
    end.each do |item|
%>
    <% if is_talk? item %>
        <div class="frontpage_item frontpage_talk">
    <% else %>
        <div class="frontpage_item frontpage_blog">
    <% end %>
        <h2>
            <%= link_to item.attributes[:title], item.identifier %>
            <time class="frontpage_item_date" datetime="<%= item.attributes[:date] %>">
                <%= item.attributes[:date] %>
            </time>
        </h2>


        <% if item.attributes[:speakers] or item.attributes[:author] %>
            <div class="frontpage_item_author">
                <% if is_talk? item %>
                    Speaker(s): <%= item.attributes[:speakers].join(", ") %>
                <% else %>
                    Author: <%= item.attributes[:author] %>
                <% end %>
            </div>
        <% end %>

        <% if item.attributes[:description] %>
            <div class="frontpage_item_desc">
                <%= item.attributes[:description] %>
            </div>
        <% end %>

        <div class="frontpage_item_tag_box">
            Tags: <%= tags_for(item, separator: ", ") %>
        </div>
    </div>
<% end %>

