---
title: "Historie + Upcoming"
kind: :page
---

<p>Upcoming:</p>
<% upcoming_talks(@items).each do |item| %>
    <div class="link">
        <%
         a = item.attributes
         linktit = "#{a[:date]} - #{a[:title]} - #{a[:speakers].join(", ")}"
        %>
        <%= link_to linktit, item.identifier %>
    </div>
<% end %>

<p>History:</p>
<% past_talks(@items).each do |item| %>
    <div class="link">
        <%
         a = item.attributes
         linktit = "#{a[:date]} - #{a[:title]} - #{a[:speakers].join(", ")}"
        %>
        <%= link_to linktit, item.identifier %>
    </div>
<% end %>
