---
title: "Historie + Upcoming"
kind: :page
---

<p>Upcoming:</p>
<table>
    <colgroup>
        <col width="15%">
        <col width="60%">
        <col width="25%">
    </colgroup>
    <thead>
    <tr>
        <th align="left">Date</th>
        <th align="left">Title</th>
        <th align="left">Speakers</th>
    </tr>
    </thead>
    <tbody>
        <% upcoming_talks(@items).each do |item| %>
            <% a = item.attributes %>
            <div class="link">
                <tr>
                    <td><%= a[:date].to_s %> 19:00</td>
                    <td>
                      <% if a[:link_in_talk_list] %>
                        <%= a[:title].to_s %>
                      <% else %>
                        <%= link_to a[:title].to_s, item %>
                      <% end%>
                    </td>
                    <td><%= a[:speakers].join(", ") %></td>
                </tr>
            </div>
        <% end %>
    </tbody>
</table>

<p>History:</p>
<table>
    <colgroup>
        <col width="15%">
        <col width="60%">
        <col width="25%">
    </colgroup>
    <thead>
        <tr>
            <th align="left">Date</th>
            <th align="left">Title</th>
            <th align="left">Speakers</th>
        </tr>
    </thead>
    <tbody>
        <% past_talks_by_semester(@items).each_pair do |semester, items| %>
            <tr>
              <td colspan="3">
                <center><big><%= semester %></big></center>
                <hr>
              </td>
            </tr>
            <% items.each do |item| %>
                <% a = item.attributes %>
                <div class="link">
                    <tr>
                        <td><%= a[:date].to_s %> 19:00</td>
                        <td>
                          <% if a[:link_in_talk_list] %>
                            <%= a[:title].to_s %>
                          <% else %>
                            <%= link_to a[:title].to_s, item %>
                          <% end%>
                        </td>
                        <td><%= a[:speakers].join(", ") %></td>
                    </tr>
                </div>
            <% end %>
        <% end %>
    </tbody>
</table>

